Repository imchillin/Anamnesis, pull requests merged in 2024-08, with the labels that each got.

#1373 Tweaks for Hrothgar Fur and Faces
  Anamnesis/Actor/Converters/NpcFaceWarningConverter.cs
  Anamnesis/Actor/Pages/CharacterPage.xaml
  Anamnesis/Actor/Views/CustomizeEditor.xaml
  Anamnesis/Actor/Views/CustomizeEditor.xaml.cs
  Anamnesis/Actor/Views/FacialFeaturesControl.xaml.cs
Labels: Bug, Enhancement, Actor

#1370 Tweaks for Importing Poses and Expressions
  Anamnesis/Actor/Pages/PosePage.xaml.cs
  Anamnesis/Actor/Posing/Visuals/SkeletonVisual3d.cs
  Anamnesis/Actor/Refresh/BrioActorRefresher.cs
  Anamnesis/Files/PoseFile.cs
  Anamnesis/Files/SceneFile.cs
  Anamnesis/Views/TargetSelectorView.xaml.cs
Labels: Enhancement, Posing

#1376 Corrected outdated motion detection property
  Anamnesis/Memory/ActorMemory.cs
Labels: Bug, Investigate, Actor
